.card-container {
  height: 200px;
  box-sizing: border-box;
  cursor: pointer;

  .card {

    .card-body {
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;

      input {
        height: 100%;
        text-align: center;
        font-size: 2rem;
        outline: none;
        width: 100%;
      }
    }
  }
}

.speech-card-container {
  height: 155px;
  box-sizing: border-box;
  cursor: pointer;

  .card {
    background: linear-gradient(180deg, rgba(105, 200, 143, 1) 0%, rgba(98, 164, 125, 1) 35%, rgba(0, 126, 51, 1) 100%);
    border-radius: 15px;
    .card-body {
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;

      input {
        height: 100%;
        text-align: center;
        font-size: 2rem;
        outline: none;
        width: 100%;
      }
    }
  }
}

.speech-container-bg {
  background-color: #6D8764;
  color: white;
}